build --client_env=CC=clang
build --cxxopt -std=c++14

build:asan --strip=never 
build:asan --copt -fsanitize=address 
build:asan --copt -O1 
build:asan --copt -fno-omit-frame-pointer 
build:asan --linkopt -fsanitize=address 

