build --crosstool_top=@co_vsco_bazel_toolchains//tools/cpp:default-toolchain

build:asan --strip=never 
build:asan --copt -fsanitize=address 
build:asan --copt -O1 
build:asan --copt -fno-omit-frame-pointer 
build:asan --linkopt -fsanitize=address 

